autom4te.cache
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
Makefile.in
missing
m4
Makefile
config.log
config.status
libtool
*.pc
build
*~
.DS_Store
*/.DS_Store
**/.DS_Store
